<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513165533945-8j32jaqoohpro84er5502vu8uov9u8ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513165533945-8j32jaqoohpro84er5502vu8uov9u8ni</string>
	<key>API_KEY</key>
	<string>AIzaSyA2x5xQJ0zDMl2CRFrxJPSkCcKOvORtaMs</string>
	<key>GCM_SENDER_ID</key>
	<string>513165533945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitch</string>
	<key>PROJECT_ID</key>
	<string>twitch-a86bf</string>
	<key>STORAGE_BUCKET</key>
	<string>twitch-a86bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513165533945:ios:fc5c6d4adf61b1fdc4f828</string>
</dict>
</plist>